<!DOCTYPE HTML>
<html>
	<head>
		<title>EXIT-POLL</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../css/main.css" />
		<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/callback.js"></script>
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<nav id="nav">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="" id="btnout" class="button" >Logout</a></li>
						</ul>
					</nav>
				</header>
            
            <!-- Banner -->
            <div id="inicio">
				<section id="banner">
				    <h2>Exit-Poll</h2>
				</section>
            </div>
			
			<!-- Main -->
				<section id="main" class="container">
                    <section class="box special">
                    <header class="major">
							<h2>Resultados a BOCA DE URNA de la Elección Presidencial(19 febrero 2017)</h2>
							<p>Es una encuesta que se hace al elector, posteriormente a que haya ejercido el voto, por eso también es conocida como “boca de urna". Las empresas que realizan los exit poll son las encuestadoras registradas y autorizadas por el CNE. </p>
						</header>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span id="candi" class="icon major fa-bolt accent2"></span>
								<h3>Candidatos</h3>
								<p>Lista de candidatos registrados para la presente elección</p>
							</section>
							<section>
								<span id="result" class="icon major fa-area-chart accent3"></span>
								<h3>Resultado de votaciones</h3>
								<p>Recuento de los votos efectuados por los ciudadanos</p>
				            </section>
						</div>
						<div class="features-row">
							<section>
								<span id="agre" class="icon major fa-cloud accent4"></span>
								<h3>Registrar Candidatos</h3>
								<p>Registrar nuevos candidatos por dignidades</p>
							</section>
							<section>
								<span id="modi" class="icon major fa-lock accent5"></span>
								<h3>Modificar</h3>
								<p>Modificar de registros de candidatos</p>
							</section>
						</div>
                    </section>
                </section>
            </div>
		<!-- Scripts -->
			<script src="../js/jquery.min.js"></script>
			<script src="../js/jquery.dropotron.min.js"></script>
			<script src="../js/jquery.scrollgress.min.js"></script>
			<script src="../js/skel.min.js"></script>
			<script src="../js/util.js"></script>
			<script src="../js/main.js"></script>

	</body>
</html>